body {
   margin: 0px
}
.container-h {
   width: 100vw;
   height: 100vh;
   background: #6C7A89;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center
}
.box {
   width: 400px;
   height: 400px;
   background: #fff;
}
 

.login-sec {
   padding: 90px 30px;
   position: relative;
}

.login-sec .copy-text {
   position: absolute;
   width: 50%;
   bottom: 0px;
   font-size: 13px;
   text-align: center;
}

.login-sec .copy-text i {
   color: #FEB58A;
}

.login-sec .copy-text a {
   color: #E36262;
}

.login-sec h2 {
   margin-bottom: 30px;
   font-weight: 800;
   font-size: 30px;
   color: #3949ab;
}

.login-sec h2:after {
   content: " ";
   width: 100px;
   height: 5px;
   background: #FEB58A;
   display: block;
   margin-top: 20px;
   border-radius: 3px;
   margin-left: auto;
   margin-right: auto
} 


