.menu-atividade-box{
    
    width: 1400px;
    height: 600px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.container-atividade-menu {
    width: 100vw;
    height: 90vh;
    background: #6423D4 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
 }
 .atividades-box{
     background-color: #6C7A89;
 }
 .color1{
     background-color: #6C7A89;
 }